h1 {
    text-align: center;
}

.liens {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10%;
    margin-left: 10rem
}

a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-right: solid black 2px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: lightgray;
}

a:hover {
    background-color: rgb(158, 47, 47);
    color: white;
}

.lien-simple {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0px;
    width: 120px;
    height: 120px;
    font-size: 16px;
    background-color: lightgray;
    padding: 20px;
    border-radius: 100%;
}

.lien-simple:hover {
    background-color: rgb(158, 47, 47);
    color: white;
}

form {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}